@charset "utf-8";

html {
    background-color:#62997A ;
}
body > header > img{
    display: block;
    max-width: 100%;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    margin: 20px;
    padding: 30px;
}

div.container {
    display:inline-block;
    Width:auto!important;
  }


img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7a7676;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(25, 22, 224);
  }

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(244, 248, 248, 0.945);
    text-shadow: 2px 2px 7px black;
}

.box {
    float: right;
    
    
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
